<div class="bg-black  min-h-[585px] flex-1 flex items-center justify-center ">
    <div>
        <div class="flex justify-center">
            <div class="h-52 w-60 flex flex-col items-center justify-center">
                <img src="logo.png" alt="logo" class="h-16 w-auto">
                <p class="text-4xl text-white font-kaushan" 
                >Occasio</p>
                <p class="text-white text-sm font-semibold">
                    EVENTS
                </p>
            </div>
        </div>
        <div class="bg-black shadow-lg w-[430px] ml-20 mr-8 rounded-lg">
            <p class="text-yellow-600 text-center font-bold text-4xl" >Welcome Employee</p>
            <div>

                <!--------------loginForm---------------->

                <app-login-form [formType]="'employee'"></app-login-form>

                <!--------------------------------------->

            </div>
        </div>
    </div>
</div>