<div class="container">
  <app-nav-bar></app-nav-bar>
  <app-head-content
    [title]="'Service'"
    [content]="
      'Our event management team is dedicated to delivering fully customizable experiences, ensuring that every event is a true reflection of your vision and style. Whether you’re planning a wedding, corporate event, birthday celebration, or any special occasion, we tailor every detail to meet your unique preferences. From venue selection and theme design to catering, entertainment, and logistics, our team works closely with you to craft an event that feels personal and unforgettable.'
    "></app-head-content>

  <div class="max-w-6xl mx-auto p-4 md:p-8 bg-white flex flex-col md:flex-row gap-6 md:gap-8">
    <div class="w-full md:w-3/5 flex flex-col justify-center">
      <p class="text-green-700 font-KayPhoDu mb-3 md:mb-4 text-lg">
        At Occasio Events, we understand that every event is unique, which is why we offer a Customizable Event tailored to your specific needs.
        Whether you're planning an intimate gathering, a grand celebration, or a corporate function, our expertise ensures a seamless and
        unforgettable experience.
      </p>

      <p class="text-green-700 font-KayPhoDu mb-3 md:mb-4 text-lg">
        What truly sets Occasio Events apart is our creative approach and attention to detail. Our dedicated team brings fresh, innovative ideas to
        life, ensuring that every element of your event aligns perfectly with your vision. From concept to execution, we handle every aspect
        meticulously, allowing you to enjoy a stress-free and memorable occasion.
      </p>
      <p class="text-green-700 font-KayPhoDu mb-3 md:mb-4 text-lg">
        Let Occasio Events bring your dream event to reality with precision, passion, and creativity.
      </p>

      <div class="mt-6 flex justify-center md:justify-start">
        <a
          href="/entryForm"
          class="bg-baseYellow hover:bg-amber-600 px-4 sm:px-6 py-2 rounded-full text-white flex items-center gap-2 transition duration-300 text-sm sm:text-base">
          Mark your Date
          <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 sm:h-4 sm:w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
          </svg>
        </a>
      </div>
    </div>
    <div class="w-full md:w-[600px] flex items-center justify-center mt-6 md:mt-0">
      <div class="bg-gray-100 p-2 sm:p-2 shadow-md w-full max-w-[500px] h-[550px] flex items-center justify-center">
        <img src="UBanner_2.jpg" alt="Wedding couple in field" class="w-full h-full object-cover" />
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
