<div class="flex flex-1 h-fit justify-end pr-12 pt-2 pb-2">
    <div class="flex flex-1 h-fit justify-end gap-5">
      <button
        class="flex items-center justify-center bg-blue-800 hover:bg-blue-600 w-28 h-9 rounded-md gap-2 shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-300 text-white"
      >
        Chat
        <div class="w-3 h-3 rounded-full bg-red-600 mb-5"></div>
        <img src="msg.png" alt="msg" class="-ml-3 h-7 w-7" />
      </button>
      <!-- <div class="h-9 w-9 bg-white rounded-full cursor-pointer" [routerLink]="['/employee/profile']">
        <img src="employee.png" alt="employee">
      </div> -->
    </div>
  </div>
  