<!-- Confirm Password Modal -->
<div
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
>
  <div class="bg-white p-6 rounded-lg shadow-lg w-96">
    <h2 class="text-center text-lg font-bold">Confirm Password</h2>
    <p class="text-center text-sm">
      Please enter your new password to reset your account password.
    </p>
    <form
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onSubmitConfirmPassword()"
    >
      <div class="mt-4">
        <label for="newPassword" class="block text-sm font-medium text-gray-700"
          >New Password</label
        >
        <input
          id="newPassword"
          type="password"
          formControlName="password"
          placeholder="Enter new password"
          class="w-full border rounded px-3 py-2 focus:ring-2 focus:ring-indigo-600"
        />
        <!-- Validation Errors -->
        @if(hasError('password', 'required') &&
        (resetPasswordForm.get('password')?.dirty ||
        resetPasswordForm.get('password')?.touched)){
        <p class="mt-1 ml-5 text-sm font-light text-red-500">
          Password is required
        </p>
        }@else if(hasError('password', 'minlength') &&
        (resetPasswordForm.get('password')?.dirty ||
        resetPasswordForm.get('password')?.touched)){
        <p class="mt-1 ml-5 text-sm font-light text-red-500">
          Password must be at least 6 characters long
        </p>
        }

        <label
          for="confirmPassword"
          class="block text-sm font-medium text-gray-700 mt-4"
          >Confirm Password</label
        >
        <input
          id="confirmPassword"
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirm your password"
          class="w-full border rounded px-3 py-2 focus:ring-2 focus:ring-indigo-600"
        />
        <!-- Validation Errors -->
        @if(hasError('confirmPassword', 'required') &&
        (resetPasswordForm.get('confirmPassword')?.dirty ||
        resetPasswordForm.get('confirmPassword')?.touched)){
        <p class="mt-1 ml-5 text-sm font-light text-red-500">
          Confirm password is required
        </p>
        }@else if(hasError('confirmPassword', 'mismatch') &&
        (resetPasswordForm.get('confirmPassword')?.dirty ||
        resetPasswordForm.get('confirmPassword')?.touched)){
        <p class="mt-1 ml-5 text-sm font-light text-red-500">
          Passwords do not match
        </p>
        }
      </div>
      <div class="mt-6 flex justify-between">
        <button
          type="button"
          (click)="onCancel()"
          class="px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-700"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700"
        >
          Confirm Password
        </button>
      </div>
    </form>
  </div>
</div>

