<div class="pl-10 pr-10">
  <div class="flex items-start mb-4">
    <h1 class="text-3xl font-kaushan text-adQuaternary">Client's Management</h1>
  </div>
  <!--------- Add client Button --------->
  <div class="flex items-center">
    <app-search [placeholder]="'Search clients...'" (searchQuery)="handleSearch($event)" (filterChange)="handleFilterChange($event)"></app-search>
  </div>
</div>

<!--------------Client listing----------------->
<div class="container mx-auto py-4 px-5 pl-10 pr-10">
  <div class="overflow-x-auto shadow-md rounded-lg">
    <table class="min-w-full bg-white">
      <thead>
        <tr class="bg-adQuaternary text-adLight">
          <th class="py-3 px-4 text-left text-sm md:text-base">SI no</th>
          <th class="py-3 px-4 text-left text-sm md:text-base">clients</th>
          <th class="py-3 px-4 text-left text-sm md:text-base">Email</th>
          <th class="py-3 px-4 text-left text-sm md:text-base">Mobile</th>
          <th class="py-3 px-4 text-left text-sm md:text-base">Status</th>
          <th class="py-3 px-4 text-left text-sm md:text-base">Actions</th>
        </tr>
      </thead>
      <tbody class="text-adQuaternary">
        <tr *ngFor="let client of filteredClients; let i = index" class="bg-adSecndary hover:bg-adTertiary">
          <td class="py-1 md:py-3 px-2 md:px-4 text-sm md:text-base">{{ (currentPage - 1) * itemsPerPage + i + 1 }}.</td>
          <td class="py-1 md:py-3 px-2 md:px-4">
            <div class="flex items-center">
              <div class="w-8 h-8 md:w-10 md:h-10 rounded-full mr-2 md:mr-3 overflow-hidden flex-shrink-0">
                <img src="client.png" alt="Anna" class="w-full h-full object-cover" />
              </div>
              <span class="text-sm md:text-base">{{ client.name }}</span>
            </div>
          </td>
          <td class="py-1 md:py-3 px-2 md:px-4 text-xs md:text-base">{{ client.email }}</td>
          <td class="py-1 md:py-3 px-2 md:px-4 text-xs md:text-base">{{ client.phone }}</td>
          <td class="py-1 md:py-3 px-2 md:px-4"><span class="text-gray-400 text-sm md:text-base">Available</span></td>
          <td class="py-1 md:py-3 px-2 md:px-4">
            <div class="flex flex-row xs:flex-row justify-start gap-3 md:gap-2">
              <!------ block-unblock ------>
              @if (client.isBlocked) {
                <button
                  (click)="blockStatus(client._id!, client.isBlocked!)"
                  class="bg-red-500 hover:bg-red-600 text-white text-xs md:text-sm py-1 px-1 md:px-3 rounded-full">
                  <i class="fa-solid fa-ban"></i>
                </button>
              } @else {
                <button
                  (click)="blockStatus(client._id!, client.isBlocked!)"
                  class="bg-green-500 hover:bg-green-600 text-white text-xs md:text-sm py-1 px-1 md:px-3 rounded-full">
                  <i class="fa-solid fa-unlock"></i>
                </button>
              }
            </div>
          </td>
        </tr>
        <tr *ngIf="filteredClients.length === 0" class="bg-adSecndary">
          <td colspan="6" class="py-4 text-center text-gray-500">No clients found</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
