<div class="container mx-auto mt-4">
    <div class="flex justify-between px-9 mb-6">
        <h2 class="text-2xl font-kaushan text-adQuaternary">Seating Management</h2>
        <button class="text-sm text-baseYellow font-semibold border-2 border-baseYellow px-4 py-1 rounded-2xl transition transform active:scale-105 active:shadow-md"
        (click)="addSeating()"
        >Add Seating</button>
    </div>
    <app-reusable-table1
        [columns]="seatingColumns"
        [data]="seatings"
        [actions]="seatingActions"
        [columnWidths]="seatingColumnWidths">
    ></app-reusable-table1>
    <app-add-modal [heading]="modalHeading" [isOpen]="isModalOpen"></app-add-modal>
</div>