<div class="container">
  <app-nav-bar></app-nav-bar>
  <app-head-content
    [title]="'About Us'"
    [content]="
      'Occasio Events was founded on the belief that every event should be a unique and meaningful experience. With over 15 years of expertise in Paris and beyond, our team has brought dreams to life—whether it’s an intimate gathering for 20 in a charming countryside setting or managing elaborate corporate galas and multi-day celebrations.Our foundation is built on delivering full-service planning with fresh creativity and unparalleled dedication to our clients. We love what we do and take immense pride in crafting unforgettable experiences for those who entrust their special moments to us.'
    "></app-head-content>
</div>
<div>
  <h1 class="flex justify-center font-kaushan text-4xl text-yellow-600 pt-14">The Team</h1>
  <div class="pt-7 pb-7">
    <div class="flex gap-10 p-4 items-center justify-center">
      <img src="img_1.JPG" alt="img" class="h-[300px] w-[225px] object-cover" />
      <img src="img_2.JPG" alt="img" class="h-[300px] w-[225px] object-cover" />
      <img src="img_3.JPG" alt="img" class="h-[300px] w-[225px] object-cover" />
      <img src="img_4.JPG" alt="img" class="h-[300px] w-[225px] object-cover" />
    </div>
    <div class="flex gap-10 p-4 items-center justify-center">
      <img src="img_5.JPG" alt="img" class="h-[300px] w-[225px] object-cover" />
      <img src="img_6.JPG" alt="img" class="h-[300px] w-[225px] object-cover" />
      <img src="img_7.JPG" alt="img" class="h-[300px] w-[225px] object-cover" />
      <img src="img_8.JPG" alt="img" class="h-[300px] w-[225px] object-cover" />
    </div>
    <div class="flex gap-10 p-4 items-center justify-center">
      <img src="img_9.JPG" alt="img" class="h-[300px] w-[225px] object-cover" />
      <img src="img_10.JPG" alt="img" class="h-[300px] w-[225px] object-cover" />
      <img src="img_11.JPG" alt="img" class="h-[300px] w-[225px] object-cover" />
      <img src="img_12.JPG" alt="img" class="h-[300px] w-[225px] object-cover" />
    </div>
  </div>
  <div class="h-[200px] w-[100%]" id="map"></div>
</div>

<app-footer></app-footer>
