<div *ngIf="isOpen" class="fixed inset-0 flex items-center justify-center bg-white bg-opacity-50">
    <div class="bg-adSecndary backdrop-blur-lg p-6 rounded-lg shadow-lg w-96 border-2 border-adSecndary">
      <h2 class="text-2xl text-adQuaternary mb-4 font-kaushan text-center">{{heading}}</h2>
  
      <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
        <label class="block text-sm font-medium">Name</label>
        <input type="text" formControlName="name" class="w-full p-1 rounded mb-2 bg-adPrimary">
        <div *ngIf="itemForm.get('name')?.invalid && itemForm.get('name')?.touched" class="text-red-500 text-xs mb-2">
          Name is required
        </div>
  
        <label class="block text-sm font-medium">Description</label>
        <textarea formControlName="description" class="w-full p-2 rounded mb-2 bg-adPrimary"></textarea>
  
        <label class="block text-sm font-medium">Starting Price</label>
        <input type="number" formControlName="startingPrice" class="w-full p-1 rounded mb-2 bg-adPrimary">
        <div *ngIf="itemForm.get('startingPrice')?.invalid && itemForm.get('startingPrice')?.touched" class="text-red-500 text-xs mb-2">
          Starting price is required
        </div>
  
        <label class="block text-sm font-medium">Ending Price</label>
        <input type="number" formControlName="endingPrice" class="w-full p-1 rounded mb-4 bg-adPrimary">
        <div *ngIf="itemForm.get('endingPrice')?.invalid && itemForm.get('endingPrice')?.touched" class="text-red-500 text-xs mb-2">
          Ending price is required
        </div>
  
        <div class="flex justify-between space-x-2">
          <button type="button" class="px-4 py-1 bg-adPrimary text-adQuaternary border border-adQuaternary rounded" (click)="closeModal()">Cancel</button>
          <button type="submit" class="px-4 py-1 bg-adQuaternary text-white rounded" [disabled]="itemForm.invalid">Save</button>
        </div>
      </form>
    </div>
  </div>
  