<div class="relative">
  <div>
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="absolute top-36 sm:top-36 md:top-40 left-0 w-full flex items-center justify-center px-4 overflow-hidden">
    <div class="flex gap-2 md:gap-3 py-4 md:py-0">
      <img
        src="UBanner_1.jpg"
        alt="UBanner"
        class="hidden lg:block h-[220px] sm:h-[320px] md:h-[420px] w-[125px] sm:w-[175px] md:w-[225px] object-cover shadow-lg opacity-0 transform -translate-y-16 animate-slide-in delay-[200ms]" />
      <img
        src="UBanner_2.jpg"
        alt="UBanner"
        class="hidden sm:block h-[220px] sm:h-[310px] md:h-[420px] w-[125px] sm:w-[175px] md:w-[225px] object-cover shadow-lg opacity-0 transform -translate-y-16 animate-slide-in delay-[400ms]" />
      <img
        src="UBanner_3.jpg"
        alt="UBanner"
        class="h-[280px] sm:h-[310px] md:h-[420px] w-[290px] sm:w-[175px] md:w-[225px] object-cover shadow-lg opacity-0 transform -translate-y-16 animate-slide-in delay-[600ms]" />
      <img
        src="UBanner_4.jpg"
        alt="UBanner"
        class="hidden sm:block h-[220px] sm:h-[310px] md:h-[420px] w-[125px] sm:w-[175px] md:w-[225px] object-cover shadow-lg opacity-0 transform -translate-y-16 animate-slide-in delay-[800ms]" />
      <img
        src="UBanner_5.jpg"
        alt="UBanner"
        class="hidden lg:block h-[220px] sm:h-[320px] md:h-[420px] w-[125px] sm:w-[175px] md:w-[225px] object-cover shadow-lg opacity-0 transform -translate-y-16 animate-slide-in delay-[1000ms]" />
    </div>
  </div>

  <div class="h-auto sm:h-[580px] md:h-[680px] bg-gray-100 pt-36 sm:pt-44 md:pt-52 flex justify-center px-4">
    <div class="bg-white w-full max-w-[1100px] h-auto md:h-[430px] flex flex-col md:flex-row">
      <div class="w-full md:w-1/2 p-4 sm:p-6 md:p-8 flex flex-col justify-center items-center">
        <p class="text-yellow-600 text-base md:text-lg leading-relaxed font-KayPhoDu">
          At Occasio, we believe that every event is a reflection of its host, and we design experiences that speak to your story, vision, and unique
          style. Whether you're planning a corporate gathering, a grand celebration, or an intimate affair, we create events that honor your journey,
          wherever it takes you.
        </p>
      </div>
      <div class="w-full md:w-1/2 flex relative h-[300px] md:h-auto mb-4 md:mb-0">
        <div class="w-[200px] sm:w-[250px] md:w-[300px] h-[200px] sm:h-[250px] md:h-[300px] absolute z-30 left-4 -top-4 md:-top-14">
          <img src="img1.jpg" alt="Couple" class="object-cover h-[280px] sm:h-[350px] md:h-[430px] w-full" />
        </div>
        <div class="w-[150px] sm:w-[200px] md:w-1/2 h-full absolute z-10 right-4 sm:right-6 md:right-8 top-4 md:-top-7">
          <img src="img2.jpg" alt="Food" class="object-cover h-[280px] sm:h-[350px] md:h-[430px] w-full" />
        </div>
      </div>
    </div>
  </div>

  <div class="bg-gray-100 h-auto py-12 md:h-[730px]">
    <div class="flex flex-col sm:flex-row justify-center gap-8 sm:gap-16 md:gap-44 p-5 text-yellow-600 font-KayPhoDu text-center mb-6 md:mb-0">
      <div class="flex flex-col items-center">
        <p>Coloring Up Your</p>
        <p class="text-baseYellow text-4xl sm:text-5xl md:text-6xl font-Katibeh">WEDDING</p>
      </div>
      <div class="flex flex-col items-center">
        <p>Adding Elegance To Your</p>
        <p class="text-baseYellow font-Katibeh text-4xl sm:text-5xl md:text-6xl">EVENTS</p>
      </div>
      <div class="flex flex-col items-center">
        <p>Bring Charm To Your</p>
        <p class="text-baseYellow text-4xl sm:text-5xl md:text-6xl font-Katibeh">MOMENTS</p>
      </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center items-center md:items-start gap-10 md:gap-20 pt-6 md:pt-14 px-4">
      <div class="flex flex-col sm:flex-row gap-7">
        <div
          class="bg-yellow-600 bg-opacity-50 shadow-lg w-[250px] h-[280px] sm:h-[320px] flex flex-col items-center justify-center rounded-sm cursor-pointer"
          [routerLink]="['/services']">
          <img src="logo.png" alt="logo" class="h-14 sm:h-16 w-16 sm:w-20 mb-5" />
          <p class="font-semibold mb-2 font-KayPhoDu tracking-wider">FULL PLANNING</p>
          <p class="w-48 font-KayPhoDu text-center">ensuring a seamless and stress-free experience that brings your vision to life.</p>
        </div>
        <div
          class="bg-gray-600 bg-opacity-10 shadow-lg w-[250px] h-[280px] sm:h-[320px] mt-0 sm:mt-10 flex flex-col items-center justify-center rounded-sm cursor-pointer"
          [routerLink]="['/services']">
          <img src="logo.png" alt="logo" class="h-14 sm:h-16 w-16 sm:w-20 mb-5" />
          <p class="font-semibold mb-2 font-KayPhoDu tracking-wider">CUSTOM</p>
          <p class="w-40 font-KayPhoDu text-center">Tailored to reflect your unique vision and style</p>
        </div>
      </div>

      <div class="w-full max-w-[300px] h-auto mt-4 md:mt-10 flex flex-col items-center justify-center text-center gap-4 px-4">
        <p class="text-yellow-600 text-2xl sm:text-3xl font-kaushan">Where we stand out.</p>
        <p class="font-KayPhoDu tracking-wider">
          We believe every event deserves meticulous care and undivided attention. By partnering with us, you gain a team fully committed to your
          vision and joy. We limit our events to ensure every detail is thoughtfully designed and flawlessly executed, creating a unique experience
          you truly deserve.
        </p>
      </div>
    </div>

    <div class="mt-10 px-4">
      <div class="flex flex-wrap justify-center gap-6 sm:gap-16 md:gap-36 p-5 text-yellow-600 font-KayPhoDu tracking-wider text-center">
        <div class="flex flex-col items-center">
          <p class="text-yellow-600 text-4xl sm:text-5xl md:text-6xl font-Katibeh mb-3">600+</p>
          <p class="text-gray-500 font-semibold">Weddings</p>
        </div>
        <div class="flex flex-col items-center">
          <p class="text-yellow-600 text-4xl sm:text-5xl md:text-6xl font-Katibeh mb-3">150+</p>
          <p class="text-gray-500 font-semibold">Venues</p>
        </div>
        <div class="flex flex-col items-center">
          <p class="text-yellow-600 text-4xl sm:text-5xl md:text-6xl font-Katibeh mb-3">750+</p>
          <p class="text-gray-500 font-semibold">Events</p>
        </div>
        <div class="flex flex-col items-center">
          <p class="text-yellow-600 text-4xl sm:text-5xl md:text-6xl font-Katibeh mb-3">6000+</p>
          <p class="text-gray-500 font-semibold">Happy Clients</p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-gray-100 h-auto py-12 md:h-[600px] flex justify-center px-4">
    <div class="bg-white w-full max-w-[730px] h-auto sm:h-[480px] md:h-[520px] justify-center mt-4 md:mt-14 px-4 pb-6 md:pb-0">
      <p class="mt-8 text-2xl sm:text-3xl text-yellow-600 text-center font-kaushan">Recent Events</p>
      <div class="flex flex-col sm:flex-row justify-center mt-6 gap-3 overflow-x-auto sm:overflow-visible">
        <img
          src="recentEvent1.jpg"
          alt="Recent Event1"
          class="w-full sm:w-[150px] md:w-[300px] h-[200px] sm:h-[300px] md:h-[400px] object-cover mb-3 sm:mb-0" />
        <img
          src="recentEvent2.jpg"
          alt="Recent Event2"
          class="w-full sm:w-[150px] md:w-[300px] h-[200px] sm:h-[300px] md:h-[400px] object-cover mb-3 sm:mb-0" />
        <img src="recentEvent3.jpg" alt="Recent Event3" class="w-full sm:w-[150px] md:w-[300px] h-[200px] sm:h-[300px] md:h-[400px] object-cover" />
      </div>
    </div>
  </div>

  <div class="h-auto md:h-[680px]">
    <div class="relative h-[300px] bg-fixed" style="background-image: url('contact.jpg'); background-size: cover; background-position: center">
      <div class="absolute top-0 left-0 w-full h-full bg-white opacity-50"></div>

      <div
        class="absolute top-0 left-0 w-full h-full flex flex-col md:flex-row items-center justify-center md:justify-between px-4 md:px-16 lg:px-28">
        <div class="md:w-2/4 flex flex-col space-y-2 text-center md:text-left mt-8 md:mt-0">
          <p class="text-black text-2xl md:text-3xl font-semibold font-kaushan tracking-wider">Get in Touch</p>
          <p class="text-black text-sm md:text-md font-KayPhoDu">
            Have questions or ready to plan your event? Contact us today – we're here to make it unforgettable!
          </p>
        </div>

        <div class="mt-4 md:mt-0">
          <button class="animate-pulse bg-black text-white py-2 px-6 rounded-lg hover:bg-gray-800 shadow-lg">Contact Us</button>
        </div>
      </div>
    </div>
    <div class="relative z-10 bg-white px-4">
      <p class="mt-12 text-2xl md:text-3xl text-yellow-600 text-center font-kaushan">Purposeful Event Creation</p>
      <p class="mt-5 text-center font-KayPhoDu tracking-wider px-4">Where unforgettable memories are created, and magic brings every moment alive.</p>
      <div class="flex flex-wrap justify-center mt-6 md:mt-9 gap-4 md:gap-8 px-4">
        <div class="w-16 md:w-24 h-8 md:h-10 mt-16 md:mt-28 flex items-center justify-center">
          <img src="amazon.png" alt="Brand 1" class="object-contain h-full w-full" />
        </div>
        <div class="w-16 md:w-24 h-16 md:h-24 flex items-center justify-center">
          <img src="google_rating.png" alt="Brand 2" class="object-contain h-full w-full" />
        </div>
        <div class="w-16 md:w-24 h-16 md:h-24 mt-10 md:mt-20 flex items-center justify-center">
          <img src="microsoft.png" alt="Brand 3" class="object-contain h-full w-full" />
        </div>
        <div class="w-16 md:w-24 h-16 md:h-24 flex items-center justify-center">
          <img src="nestle.png" alt="Brand 4" class="object-contain h-full w-full" />
        </div>
        <div class="w-16 md:w-24 h-16 md:h-24 mt-10 md:mt-20 flex items-center justify-center">
          <img src="nike.png" alt="Brand 5" class="object-contain h-full w-full" />
        </div>
        <div class="w-16 md:w-24 h-16 md:h-24 flex items-center justify-center">
          <img src="redbull.png" alt="Brand 6" class="object-contain h-full w-full" />
        </div>
        <div class="w-16 md:w-24 h-16 md:h-24 mt-10 md:mt-20 flex items-center justify-center">
          <img src="samsung.png" alt="Brand 7" class="object-contain h-full w-full" />
        </div>
        <div class="w-16 md:w-24 h-16 md:h-24 flex items-center justify-center">
          <img src="sprite.webp" alt="Brand 8" class="object-contain h-full w-full" />
        </div>
        <div class="w-16 md:w-24 h-16 md:h-24 mt-10 md:mt-20 flex items-center justify-center">
          <img src="cocacola.png" alt="Brand 9" class="object-contain h-full w-full" />
        </div>
      </div>
    </div>
  </div>

  <app-footer class="bottom-0"></app-footer>

  <button
    *ngIf="showScrollButton"
    (click)="scrollToTop()"
    class="fixed z-20 bottom-5 right-5 md:bottom-10 md:right-10 bg-white-100 bg-yellow-600 opacity-65 p-2 md:p-3 rounded-full w-[40px] md:w-[49px] shadow-lg hover:bg-yellow-600 transition-all">
    <i class="fa-solid fa-arrow-up text-white"></i>
  </button>
</div>
