.profile-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .dropdown-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: black;
    visibility: hidden;
  }

  .profile-container:hover .dropdown-button {
    visibility: visible; 
  }
  
  .dropdown-menu {
    position: absolute;
    margin-top: 8px;
    padding: 8px 16px;
    z-index: 100;
  }
  
  .dropdown-menu a {
    display: block;
    text-decoration: none;
    color: black;
  }
  
  .dropdown-menu a:hover {
    text-decoration: underline;
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  .animate-pulse {
    animation: pulse 2.5s infinite ease-in-out;
  }


  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .animate-slide-in {
    animation: slideIn 0.8s ease-out forwards;
  }