<!-- <div class="container mx-auto">
    <div class="flex justify-between">
        <h2 class="text-2xl mb-6 pl-9 font-kaushan text-adQuaternary">Photo - Video Management</h2>
    </div>
    <app-reusable-table1
        [columns]="photoColumns"
        [data]="photos"
        [actions]="photoActions"
        [columnWidths]="photoColumnWidths">
    ></app-reusable-table1>
</div> -->

<div class="container mx-auto mt-4">
    <div class="flex justify-between px-9 mb-6">
      <h2 class="text-2xl font-kaushan text-adQuaternary">Photo & Video Management</h2>
      <button
        class="text-sm text-baseYellow font-semibold border-2 border-baseYellow px-4 py-1 rounded-2xl transition transform active:scale-105 active:shadow-md"
        (click)="addPhoto()"
      >
        Add Feature
      </button>
    </div>
    <div *ngIf="isLoading" class="text-center py-4">
      <p>Loading venues...</p>
    </div>
    <div *ngIf="errorMessage" class="text-red-500 text-center py-2">
      {{ errorMessage }}
    </div>
    <app-reusable-table1
      *ngIf="!isLoading"
      [columns]="photoColumns"
      [data]="photos"
      [actions]="photoActions"
      [columnWidths]="photoColumnWidths"
      (edit)="editPhoto($event)"
      (delete)="deletePhoto($event)"
      (toggleChange)="handleStatusChange($event.item, $event.value)"
    >
      ></app-reusable-table1
    >
    <app-add-modal
      [heading]="modalHeading"
      [isOpen]="isModalOpen"
      [initialData]="editingItem"
      (closeModalEvent)="closeModal()"
      (saveDataEvent)="handleSaveData($event)"
    ></app-add-modal>
  </div>
  