<div class="container mx-auto mt-4">
    <div class="flex justify-between px-9 mb-6">
      <h2 class="text-2xl font-kaushan text-adQuaternary">Decoration Management</h2>
      <button
        class="text-sm text-baseYellow font-semibold border-2 border-baseYellow px-4 py-1 rounded-2xl transition transform active:scale-105 active:shadow-md"
        (click)="addDecoration()"
      >
        Add Decoration
      </button>
    </div>
    <div *ngIf="isLoading" class="text-center py-4">
      <p>Loading venues...</p>
    </div>
    <div *ngIf="errorMessage" class="text-red-500 text-center py-2">
      {{ errorMessage }}
    </div>
    <app-reusable-table1
      *ngIf="!isLoading"
      [columns]="decorationColumns"
      [data]="decorations"
      [actions]="decorationActions"
      [columnWidths]="decorationColumnWidths"
      (edit)="editDecoration($event)"
      (delete)="deleteDecoration($event)"
      (toggleChange)="handleStatusChange($event.item, $event.value)"
    >
      ></app-reusable-table1
    >
    <app-add-modal
      [heading]="modalHeading"
      [isOpen]="isModalOpen"
      [initialData]="editingItem"
      (closeModalEvent)="closeModal()"
      (saveDataEvent)="handleSaveData($event)"
    ></app-add-modal>
  </div>
  