<div class="h-screen bg-black flex flex-col justify-between">
  <div class="px-40 pt-5">
    <div class="flex justify-center bg-neutral-700 h-[480px] rounded-lg"></div>
  </div>

  <div class="flex items-center justify-between px-14 pb-6">
    <p class="text-white">4:43 PM | enj-gzsn-duu</p>
    <div class="flex items-center justify-center gap-3">
      <div class="flex items-center text-white justify-end bg-neutral-900 rounded-full w-24 gap-2">
        <i class="fa-solid fa-ellipsis"></i>
        <button class="text-white p-3 rounded-full w-14 h-12 bg-neutral-800 hover:bg-neutral-700 flex items-center justify-center shadow-md">
          <!-- <i class="fa-solid fa-microphone-slash text-xl"></i> -->
          <i class="fa-solid fa-microphone text-xl"></i>
        </button>
      </div>
      <div class="flex items-center text-white justify-end bg-neutral-900 rounded-full w-24 gap-2">
        <i class="fa-solid fa-angle-up"></i>
        <button class="text-white p-3 rounded-full w-14 h-12 bg-neutral-800 hover:bg-neutral-700 flex items-center justify-center shadow-md">
          <!-- <i class="fa-solid fa-video-slash text-xl"></i> -->
          <i class="fa-solid fa-video text-xl"></i>
        </button>
      </div>
      <button class="text-white p-3 rounded-full w-20 h-12 bg-red-600 hover:bg-red-500 flex items-center justify-center shadow-md">
        <i class="fa-solid fa-phone-flip text-xl call-rotate"></i>
      </button>
    </div>
    <p class="text-white">Vishnupriya M S</p>
  </div>
</div>
