<div class="flex min-h-screen flex-1 flex-col border border-r-1 h-full bg-adQuaternary">
    <div
      class="w-64"
    >
      <div class="flex justify-center">
        <div class="h-40 w-60 flex flex-col items-center justify-center">
          <img src="logo.png" alt="logo" class="h-14 w-auto" />
          <p
            class="text-3xl font-kaushan text-adPrimary"
            >
            Occasio
          </p>
          <p
            class="text-xs font-semibold text-adPrimary"
          >
            EVENTS
          </p>
        </div>
      </div>
  
      <div>
        <div class="flex justify-center mb-3">
          <button
            class="flex justify-start pl-4 items-center gap-2 h-9 w-52 rounded-lg shadow-lg active:bg-adTertiary bg-adPrimary border-adQuaternary text-adQuaternary hover:bg-adTertiary"
          >
            <img src="dashboard.png" alt="dashboard" class="h-6 w-6" />
            Dashboard
          </button>
        </div> 
        <div class="flex justify-center mb-3">
          <button
            class="flex justify-start pl-4 items-center gap-2 h-9 w-52 rounded-lg shadow-lg active:bg-adTertiary bg-adPrimary border-adQuaternary text-adQuaternary hover:bg-adTertiary"
          >
            <img src="bookingDeta.png" alt="events" class="h-6 w-6" />
            Booking details
          </button>
        </div>
        <div class="flex justify-center mb-3">
          <button
            class="flex border justify-start pl-4 items-center gap-2 h-9 w-52 rounded-lg shadow-lg active:bg-adTertiary bg-adPrimary border-adQuaternary text-adQuaternary hover:bg-adTertiary"
          >
            <img src="clients.png" alt="events" class="h-6 w-6"/>
            Clients
          </button>
        </div>
        <div class="flex justify-center mb-3">
          <button
            class="flex border justify-start pl-4 items-center gap-2 h-9 w-52 rounded-lg shadow-lg active:bg-adTertiary bg-adPrimary border-adQuaternary text-adQuaternary hover:bg-adTertiary"
          >
            <img src="employee.png" alt="events" class="h-6 w-6"/>
            Employees
          </button>
        </div>
        <div class="flex justify-center mb-3">
          <button
            class="flex border justify-start pl-4 items-center gap-2 h-9 w-52 rounded-lg shadow-lg active:bg-adTertiary bg-adPrimary border-adQuaternary text-adQuaternary hover:bg-adTertiary"
          >
            <img src="packages.png" alt="events" class="h-6 w-6" />
            Package
          </button>
        </div>
        <div class="flex justify-center mb-3">
          <button
            class="flex border justify-start pl-4 items-center gap-2 h-9 w-52 rounded-lg shadow-lg active:bg-adTertiary bg-adPrimary border-adQuaternary text-adQuaternary hover:bg-adTertiary"
          >
            <img src="venue.png" alt="events" class="h-5 w-5" />
            Venue
          </button>
        </div>
        <div class="flex justify-center mb-3">
          <button
            class="flex border justify-start pl-4 items-center gap-2 h-9 w-52 rounded-lg shadow-lg active:bg-adTertiary bg-adPrimary border-adQuaternary text-adQuaternary hover:bg-adTertiary"
          >
            <img src="seating.png" alt="events" class="h-5 w-5" />
            Seating
          </button>
        </div>
        <div class="flex justify-center mb-3">
          <button
            class="flex border justify-start pl-4 items-center gap-2 h-9 w-52 rounded-lg shadow-lg active:bg-adTertiary bg-adPrimary border-adQuaternary text-adQuaternary hover:bg-adTertiary"
          >
            <img src="food.png" alt="events" class="h-5 w-5" />
            Food
          </button>
        </div>
        <div class="flex justify-center mb-3">
          <button
            class="flex border justify-start pl-4 items-center gap-2 h-9 w-52 rounded-lg shadow-lg active:bg-adTertiary bg-adPrimary border-adQuaternary text-adQuaternary hover:bg-adTertiary"
          >
            <img src="decoration.png" alt="events" class="h-5 w-5" />
            Decoration
          </button>
        </div>
        <div class="flex justify-center mb-3">
          <button
            class="flex border justify-start pl-4 items-center gap-2 h-9 w-52 rounded-lg shadow-lg active:bg-adTertiary bg-adPrimary border-adQuaternary text-adQuaternary hover:bg-adTertiary"
          >
            <img src="sound.png" alt="events" class="h-5 w-5" />
            Sound & Entertainm..
          </button>
        </div>
        <div class="flex justify-center mb-3">
          <button
            class="flex border justify-start pl-4 items-center gap-2 h-9 w-52 rounded-lg shadow-lg active:bg-adTertiary bg-adPrimary border-adQuaternary text-adQuaternary hover:bg-adTertiary"
          >
            <img src="photo.png" alt="events" class="h-5 w-5" />
            Photo & Video
          </button>
        </div>
        <div class="flex justify-center mb-3">
          <button
            class="flex border justify-start pl-4 items-center gap-2 h-9 w-52 rounded-lg shadow-lg active:bg-adTertiary bg-adPrimary border-adQuaternary text-adQuaternary hover:bg-adTertiary"
          >
            <img src="miscellaneous.png" alt="events" class="h-5 w-5" />
            Miscellaneous
          </button>
        </div>
        <div class="flex justify-center mb-3">
          <button
            class="flex border justify-start pl-4 items-center gap-2 h-9 w-52 rounded-lg shadow-lg active:bg-adTertiary bg-adPrimary border-adQuaternary text-adQuaternary hover:bg-adTertiary"
          >
            <img src="contact.png" alt="events" class="h-5 w-5" />
            Contacts
          </button>
        </div>
        <div class="flex justify-center mb-3">
          <button
            class="flex border justify-start pl-4 items-center gap-2 h-9 w-52 rounded-lg shadow-lg active:bg-adTertiary bg-adPrimary border-adQuaternary text-adQuaternary hover:bg-adTertiary"
          >
            <img src="review.png" alt="events" class="h-5 w-5" />
            Review & Rating
          </button>
        </div>
      </div>

    </div>
  </div>
  