<nav class="min-h-screen bg-adQuaternary lg:w-64 w-32" aria-label="Main Navigation">
  <header class="flex justify-center py-4">
    <div class="text-center">
      <img src="logo.png" alt="Occasio Events Logo" class="h-14 w-auto mx-auto" />
      <h1 class="text-3xl font-kaushan text-adPrimary">Occasio</h1>
      <p class="text-xs font-semibold text-adPrimary">EVENTS</p>
    </div>
  </header>

  <ul class="space-y-3 px-4">
    <li class="flex justify-center">
      <a href="/admin/dashboard" class="flex justify-center items-center gap-2 h-9 w-10 lg:w-52 rounded-lg shadow-lg active:bg-adTertiary bg-adPrimary border-adQuaternary text-adQuaternary hover:bg-adTertiary">
        <img src="dashboard.png" alt="" class="h-6 w-6" aria-hidden="true" />
        <span class="hidden lg:inline">Dashboard</span>
      </a>
    </li>
    <li class="flex justify-center">
      <a href="/admin/package" class="flex justify-center items-center gap-2 h-9 w-10 lg:w-52 rounded-lg shadow-lg active:bg-adTertiary bg-adPrimary border-adQuaternary text-adQuaternary hover:bg-adTertiary">
        <img src="packages.png" alt="" class="h-6 w-6" aria-hidden="true" />
        <span class="hidden lg:inline">Package</span>
      </a>
    </li>
    <li class="flex justify-center">
      <a href="/admin/venue" class="flex justify-center items-center gap-2 h-9 w-10 lg:w-52 rounded-lg shadow-lg active:bg-adTertiary bg-adPrimary border-adQuaternary text-adQuaternary hover:bg-adTertiary">
        <img src="venue.png" alt="" class="h-5 w-5" aria-hidden="true" />
        <span class="hidden lg:inline">Venue</span>
      </a>
    </li>
    <li class="flex justify-center">
      <a href="/admin/seating" class="flex justify-center items-center gap-2 h-9 w-10 lg:w-52 rounded-lg shadow-lg active:bg-adTertiary bg-adPrimary border-adQuaternary text-adQuaternary hover:bg-adTertiary">
        <img src="seating.png" alt="" class="h-5 w-5" aria-hidden="true" />
        <span class="hidden lg:inline">Seating</span>
      </a>
    </li>
    <li class="flex justify-center">
      <a href="/admin/food" class="flex justify-center items-center gap-2 h-9 w-10 lg:w-52 rounded-lg shadow-lg active:bg-adTertiary bg-adPrimary border-adQuaternary text-adQuaternary hover:bg-adTertiary">
        <img src="food.png" alt="" class="h-5 w-5" aria-hidden="true" />
        <span class="hidden lg:inline">Food</span>
      </a>
    </li>
    <li class="flex justify-center">
      <a href="/admin/decoration" class="flex justify-center items-center gap-2 h-9 w-10 lg:w-52 rounded-lg shadow-lg active:bg-adTertiary bg-adPrimary border-adQuaternary text-adQuaternary hover:bg-adTertiary">
        <img src="decoration.png" alt="" class="h-5 w-5" aria-hidden="true" />
        <span class="hidden lg:inline">Decoration</span>
      </a>
    </li>
    <li class="flex justify-center">
      <a href="/admin/sound" class="flex justify-center items-center gap-2 h-9 w-10 lg:w-52 rounded-lg shadow-lg active:bg-adTertiary bg-adPrimary border-adQuaternary text-adQuaternary hover:bg-adTertiary">
        <img src="sound.png" alt="" class="h-5 w-5" aria-hidden="true" />
        <span class="hidden lg:inline">Sound & Entertainm..</span>
      </a>
    </li>
    <li class="flex justify-center">
      <a href="/admin/photo-video" class="flex justify-center items-center gap-2 h-9 w-10 lg:w-52 rounded-lg shadow-lg active:bg-adTertiary bg-adPrimary border-adQuaternary text-adQuaternary hover:bg-adTertiary">
        <img src="photo.png" alt="" class="h-5 w-5" aria-hidden="true" />
        <span class="hidden lg:inline">Photo & Video</span>
      </a>
    </li>
    <li class="flex justify-center">
      <a href="/admin/miscellaneous" class="flex justify-center items-center gap-2 h-9 w-10 lg:w-52 rounded-lg shadow-lg active:bg-adTertiary bg-adPrimary border-adQuaternary text-adQuaternary hover:bg-adTertiary">
        <img src="miscellaneous.png" alt="" class="h-5 w-5" aria-hidden="true" />
        <span class="hidden lg:inline">Miscellaneous</span>
      </a>
    </li>
  </ul>
</nav>